@media (max-width: 768px) {
    .navbar {
        background: #fff;
    }

    .navbar-nav {
        gap: 0;
    }

    .navbar-nav a {
        display: inline-block;
        padding-left: 10px;
    }

    .choose-us-item {
        align-items: center;
        text-align: center;
    }
}
